{% extends "base_wide.html" %}
{% load utils_tags %}

{% block maincontent %}
    <div class="row-fluid">
        <div class="span2">
            {% include "projects/sidebar.html" %}
        </div>
        <div class="span10">
            <div class="page-header">
                <h1>{{ project.name }}</h1>
            </div>

            <ul class="nav nav-pills">
                <li {% active_url "project-about" project.name_slug %}>
                    <a href="{% url 'project-about' project.name_slug %}">About</a>
                </li>
                <li {% active_url "project-issues" project.name_slug %}>
                    <a href="{% url 'project-issues' project.name_slug %}">Issues</a>
                </li>
                <li {% active_url "project-milestones" project.name_slug %}>
                    <a href="{% url 'project-milestones' project.name_slug %}">Milestones</a>
                </li>
                <li {% active_url "project-roadmap" project.name_slug %}>
                    <a href="{% url 'project-roadmap' project.name_slug %}">Roadmap</a>
                </li>
            </ul>

            <div>{% block content %}{% endblock %}</div>
        </div>
    </div>
{% endblock %}
