<!DOCTYPE html>
<html lang="en">
{% include "base_head.html" %}
  <body>
{% include "base_topbar.html" %}

    <div class="container{% block width-class %}{% endblock %}">
{% block maincontent %}{% endblock %}
{% include "base_footer.html" %}
    </div> <!-- /container or container-fluid -->

{% include "base_endscripts.html" %}
  </body>
</html>
