{% extends "base_narrow.html" %}
{% load staticfiles %}

{% block maincontent %}
    <div class="row">
        <div class="span3">
            <div class="thumbnail">
                <img src="{% static "img/dummy_img.png" %}" alt="Dummy image">
            </div>
            <h2>John Smith</h2>
        </div>
        <div class="span9">
            <h3>Issues assigned to you</h3>
            <h3>Issues created by you</h3>
            <h3>Your projects</h3>
            <h3>Statistics</h3>
        </div>
    </div>
{% endblock %}
